{% extends "base.html" %}

{% block head_title %} cart summary {% endblock %}

{% block content %}
  <main>
    <div class="container mt-4">

        <div class="mt-5 pt-5">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
    {% endif %}
    </div>

    <div class="table-responsive text-nowrap">
    <h2>Cart Summary</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Item title</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total Item Price</th>
        </tr>
        </thead>
        <tbody>
        {% for order_item in object.items.all %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>


            {% if item.title|length >= 20 %}
            <td><abbr title="{{ order_item.item.title }}"><a href="{% url 'core:product' order_item.item.slug %}">{{ order_item.item.title|truncatewords:2 }}</a></abbr></td>
            {% else %}
            <td><a href="{% url 'core:product' order_item.item.slug %}">{{ order_item.item.title }}</a></td>
            {% endif %}
            <td><a href="{% url 'core:product' order_item.item.slug %}">{{ order_item.item.title }}</a></td>
            <td>{{ order_item.item.price }}</td>
            <td>
                <a href="{% url 'core:remove-single-item-from-cart' order_item.item.slug %}"><i class="fas fa-minus mr-2"></i></a>
                {{ order_item.quantity }}
                <a href="{% url 'core:add-to-cart' order_item.item.slug %}"><i class="fas fa-plus ml-2"></i></a>
            </td>
            <td>
            {% if order_item.item.discount_price %}
                ${{ order_item.get_total_discount_item_price }}
                <span class="badge badge-primary">Saving ${{ order_item.get_amount_saved }}</span>
                {% if order_item.get_shipping_fees < 0 %}
                <p>${{ order_item.get_shipping_fees }}</p>
                <span class="badge badge-primary">Shipping fees</span>
                {% endif %}
            {% else %}
                ${{ order_item.get_total_item_price }}
                {% if order_item.get_shipping_fees < 0 %}
                <p>${{ order_item.get_shipping_fees }}</p>
                <span class="badge badge-primary">Shipping fees</span>
                {% endif %}
            {% endif %}
            <a style='color: red;' href="{% url 'core:remove-from-cart' order_item.item.slug %}">
                <i class="fas fa-trash float-right"></i>
            </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan='5'>Your cart is empty</td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-primary float-right' href='/' style="margin-bottom: 90px;">Continue shopping</a>
            </td>
        </tr>
        {% endfor %}
        {% if object.coupon %}
        <tr>
            <td colspan="4"><b>Coupon</b></td>
            <td><b>-${{ object.coupon.amount }}</b></td>
        </tr>
        {% endif %}
        {% if object.coupon %}
        <tr>
            <td colspan="4"><b>Coupon</b></td>
            <td><b>${{ object.coupon.amount }}</b></td>
        </tr>
        {% endif %}
        {% if object.get_total %}
        <tr>
            <td colspan="4"><b>Order Total</b></td>
            <td><b>${{ object.get_total }}</b></td>
        </tr>
        <tr>
            <td colspan="5" style="padding-bottom: 50px;">
            <a class='btn btn-warning float-right ml-2' href='/checkout/'>Proceed to checkout</a>
            <a class='btn btn-primary float-right' href='/'>Continue shopping</a>
            </td>
        </tr>
        {% endif %}
        </tbody>
    </table>

    </div>

    </div>
  </main>

{% endblock content %}